@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  height: 100%;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 40px;
  font-weight: 200;
  color: #444;
  background-color: #eee;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

li {
  margin-bottom: 0.8em;
}

a:link {
  color: #aaa;
  text-decoration: none;
}

a:visited {
  color: #252528;
}


.media {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  justify-content: center;
}

li.pane {
  margin-bottom: 2em;
  padding-left: 1.2em;
  padding-right: 1.2em;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  margin-bottom: 2em;
  text-align: center;
  border: 1px solid #222;
}

.entry-meta {
  color: hsl(341, 10%, 20%);
  font-weight: bold;
  font-family: Orbitron;
}

.media-caption {
  flex-grow: 1;
  font-size: larger;
  margin-top: 1em;
}

.time-stamp {
  margin-bottom: 1em;  
  font-family: Orbitron;
}

.pane video,img {
  border-left: 1px solid hsla(30, 14%, 67%, 0.5);
  width: 100%;
}

h1 {
  font-family: Orbitron;
}

@media all and (max-width: 414px) {
  body {
    font-size: 12px;
  }
  
  .name {
    font-size: 1em;
  }
  .project {
    max-width: 320px;
  }
}
